.ipynb_checkpoints/
credentials/google_maps_api_key.json
credentials/mlab_instance_api_key.json
credentials/mlab_dummy_instance_api_key.json
credentials/google_maps_api_key_alt.json
.DS_Store
.idea/
*.txt
__pycache__/